.container-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: tomato;
    width: 40%;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px 50px;
    gap: 20px;
    color: #FFF;
}

.container-form h1 {
    font-size: 20px;
    font-weight: bold;

}

.container-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.container-form label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.container-form input:not([type=checkbox],[type=radio]), textarea {
    border-radius: 10px;
    line-height: 28px;
    box-sizing: border-box;
    /* text-align: center; */
    width: 100%;
    /* margin-bottom: 30px; */
}

.container-form input:focus, .container-form textarea:focus {
    outline: 2px solid #CCC;
}

.container-form button {
    height: 50px;
    width: 50%;
    align-self: center;
    border-radius: 20px;
    margin-top: 30px;
}

.container-form textarea {
    width: 100%;
    margin-top: 5px;
    outline: none;
    resize: none;
}

.container-form select {
    height: 28px;
    border-radius: 10px;
}

.checkbox-container {
    display: block;
    gap: 5px;
    align-items: baseline;
    margin: 5px 0 0 0;
    padding: 5px 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}
